.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
    margin: 0 0 25px 0;
  }
  
  .about-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-section p {
    text-align: center;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
  }