footer {
  background-color: #d6ccc2;
  width: 100%;
}

footer .contenedor {
  max-width: 1240px;
  padding: 30px 40px;
  margin: auto;
  /* padding: 20px 0; */
}

.content-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.profil .footer-left {
  max-width: 320px;
  margin-bottom: 1.25rem;
}

.footer-left h4 {
  max-width: 320px;
  font-size: 16px;

}


.footer-left p {
  max-width: 320px;
  font-size: 14px;
  color: #000000;
  line-height: 28px;
  margin: 0 0 0 45px;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col ul {
  margin-right: 10px;
}

.footer-col li {
  list-style: none;
  margin-bottom: 5px;
}

.footer-col li a {
  font-size: 14px;
  color: #666;
  text-decoration: none;
}


