@import url(descripcion.css);
@import url(presentacion.css);
@import url(newsletter.css);
@import url(footer.css);
@import url(about-section.css);
@import url(feautered.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: #e3d5ca;
}

nav {
    background-color: #e3d5ca;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    padding: 15px 30px;
}

li h3 {
    white-space: nowrap;
}

nav .icon {
    font-size: 35px;
    font-weight: 800;
    color: #000000;
    cursor: pointer;
    margin-right: 100px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 0 0 30px;
}


nav ul li a {
    color: #272323;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

nav ul li:hover a {
    color: rgb(214, 130, 18);
    transform: .3s;
}

nav .search-box {
    display: flex;
    height: 30px;
    line-height: 35px;
    position: relative;
    top: 8px;
    left: -50px;
}

nav .search-box input {
    border: none;
    outline: none;
    background: #f0e9e9;
    height: 100%;
    padding: 0 0 0 40px;
    font-size: 20px;
    width: 300px;
}

#lupa {
    position: absolute;
    top: 8px;
    left: 10px;
}

.container-cart {
    display: flex;
    align-items: center;
    background-color: #9a9090;
    color: #020202;
    padding: 6px 12px;
    border-radius: 3px;
    margin-left: 20px;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

nav .bar {
    position: relative;
    margin: auto;
    display: none;
}

nav .bar span {
    position: absolute;
    color: #fff;
    font-size: 35px;
}

.cart-icon {
    text-decoration: none;
    padding: 5px;
    color: #fff;
}


@media screen and (max-width: 1300px) {
    nav {
        flex-wrap: wrap;
        position: relative;
    }

    nav .icon {
        padding: 0 0 0 100px;
    }

    nav .search-box {
        /* flex-direction: column; */
        margin-left: 100px;
    }

    nav .search-box input {
        width: 100%;
    }

    nav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        align-items: center;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    nav .container-cart {
        margin-left: 0;
        margin-top: 10px;
        /* text-align: center; */
    }


    .descripcion-shop {
        padding: 0;
        margin: 0;
    }


    .img-desc:nth-of-type(3) {
        display: none;
    }

    .feautered2 {
        display: none;
    }

    .product-details2 {
        display: none;
    }

    .left-arrow {
        margin-right: -20px;
    }

    .right-arrow {
        margin-left: -20px;
    }

    .newsletter {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter-title,
    .newsletter form {
        width: 100%;
    }

    .newsletter form input[type="email"] {
        margin-right: 0;
    }

    .content-footer {
        flex-direction: column;
        margin-left: 70px;
    }

    .footer-left {
        margin-right: 100px;
    }

    .footer-right {
        margin-left: 50px;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .footer-col:last-child {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 750px) and (max-width: 1300px) {
    nav {
        position: relative;
    }

    nav .icon {
        padding: 0 0 0 100px;
    }

    nav .search-box {
        /* flex-direction: column; */
        margin-top: 0;
        margin-left: 100px;
    }

    nav .search-box input {
        width: 100%;
    }

    nav ul {
        width: 100%;
        display: flex;
        /* flex-direction: column;  */
        align-items: center;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    nav .container-cart {
        margin-left: 0;
        margin-top: 10px;
        /* text-align: center; */
    }

    .product .feautered1 {
        margin: 0 0 0 19px;
    }

    .descripcion-shop {
        padding: 0;
    }

    .img-desc:nth-of-type(3) {
        display: none;
    }

    .left-arrow {
        margin-right: -10px;
    }

    .right-arrow {
        margin-left: -10px;
    }

  
    
    .container-news {
        padding: 0;
    }

    .newsletter-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-news p {
        margin: 0 10px;
        padding: 20px 0 0 50px;
        text-align: center;
    }

    
    .newsletter form {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        margin: 10px 0 0 0;
    }

    .feautered {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .col-1 {
        margin: 20px 0;
    }

    .img4, .img5 {
        margin: -20px 13px 20px 12px;
    }

    .col {
        margin: 0 0 13px 0;
    }

    .img2,
    .img3 {
        margin: 0 0 17px 27px;
    }


    .col-2 {
        display: flex;
        /* flex-wrap: wrap; */
        /* justify-content: center; */
    }

    /* .detalles {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: center;
    } */

    .detalles .info {
        margin: 10px 0;
    }

    .detalles .estrella,
    .detalles .estrella-der {
        margin: 0 0 0 155px;
    }

    .footer-left {
        margin-right: 100px;
    }

    .footer-right {
        margin-left: 50px;
    }

}


@media screen and (min-width: 350px) and (max-width: 750px) {
    nav {
        /* flex-wrap: wrap; */
        position: relative;
    }

    nav .icon {
        padding: 0 0 0 100px;
    }

    nav .search-box {
        flex-direction: column;
        margin-top: 10px;
        margin-left: 100px;
    }

    nav .search-box input {
        width: 100%;
    }

    .descripcion-shop {
        padding: 0;
    }


    nav ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    nav .container-cart {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }

    .img-desc:nth-of-type(2),
    .img-desc:nth-of-type(3) {
        display: none;
    }

    .product .feautered1 {
        margin: 0 0 0 21px;
    }

    .container-news p {
        margin: 0 10px;
        padding: 20px 0 0 50px;
        text-align: center;
    }

    .newsletter-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsletter-title h3 {
        margin-bottom: 10px;
    }

    .newsletter form {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        margin: 10px 0 0 0;
    }

    .feautered {
        flex-direction: column;
    }

    .col,
    .col-1,
    .col-2 {
        margin: 0 0 15px 0;
    }

    .about-section {
        margin: 0;
    }

    .footer-left {
        margin-right: 5px;
    }

    .footer-right {
        margin-left: 20px;
    }

    .footer-col {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .content-footer {
        margin-left: 0;
    }

}