

body{
  background-color: #e3d5ca;
}

.title {
  margin-right: 50px;
    margin-top: 40px;
    font-size: 30px;
}

.shop-description .shop-title {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo img {
  width: 100px;
  margin-right: 70px;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
}

.search input[type="text"] {
  padding: 5px 30px 5px 10px;
  margin-right: 55px;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.menu li {
  margin-right: 40px;
}


.menu li a {
  color: #333;
  text-decoration: none;
  padding: 5px;
}

nav .menu li:not(:last-child) {
  border-right: 2px solid #ccc;
  padding-right: 40px;
}


.cart {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.cart-box span{
  position: relative;
  top: -6px;
  font-family: 'Rajdhani', sans-serif;
}

.cart-box {
  background-color: #666;
  color: #fff;
  padding: 6px 12px;
  border-radius: 3px;
  margin-right: 10px;
}

.shop-description {
  text-align: center;
}

.shop-title {
  font-size: 36px;
}

.shop-line {
  width: 2px;
  height: 100px;
  margin: 0 auto;
  background-color: #ddd;
}

.shop-images {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.shop-image-container {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  overflow: hidden;
}

.shop-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.shop-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
}

.shop-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.shop-line {
  width: 20%;
  height: 0px;
  margin: 60px auto;
  background-color: #ddd;
}


.shop-images {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.shop-image-container {
  width: 400px;
  height: 400px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  overflow: hidden;
}

.shop-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.shop-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
}

.featured-products {
  text-align: center;
  padding: 20px;
}

.featured-products h2 {
  font-size: 2em;
  margin-bottom: 30px;
  font-family: 'Rajdhani', sans-serif;
}

h3 {
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
}

.featured-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
  top: -20px;
  font-family: 'Rajdhani', sans-serif;
}

.products-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product .feautered1 {
  margin: 0 0 0 80px;

}

.product .feautered2 {
  margin: 0 80px 0 0;
}

.product img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.product-details {
  text-align: center;
  margin-bottom: 10px;
}

.product-details h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.price {
  font-size: 1.2em;
  margin-bottom: 5px;
  position: relative;
  top: -30px;
}

.arrow {
  font-size: 2em;
  color: gray;
  margin-top: 10px;
  cursor: pointer;
}

.left-arrow {
  margin-right: 20px;
}

.right-arrow {
  margin-left: 20px;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

.newsletter h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.newsletter p {
  font-size: 18px;
  margin-bottom: 20px;
}

.newsletter-content {
  margin: 0 0 0 20px;
}

.newsletter-form {
  padding-left: 90px;
  padding-top: 60px;
}

.newsletter input[type="email"] {
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  width: 200px;
}

.newsletter button {
  background-color: #d2dbde;
  color: #332e2e;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 20px;
  font-size: 16px;
}

.newsletter button:hover {
  cursor: pointer;
  background-color: #005f7f;
}

.newsletter .subscribe {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 10px 0;
}

.vertical-image {
  flex-basis: 20px;
}

.horizontal-images {
  flex-basis: 20px;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.row-2 {
  display: flex;
  justify-content: space-between;

}

.horizontal-images img {
  width: 350px;
  margin: 0 97px 0 0px;
}

.vertical-image img {
  width: 405px;
  height: 651px;
  margin: 29px 0 0 100px;
}

.product-footer-vert {
  padding: 1rem;
  margin: 0 0 0 120px;
}

.stars {
  margin: 0 0 0 250px;
  position: relative;
  top: -80px;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 5px;
  position: relative;
  top: -15px;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
}

.price {
  font-size: 1.2em;
  margin-bottom: 5px;
  position: relative;
  top: -30px;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
}

.stars span {
  font-size: 15px;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center;
  margin: 0 0 25px 0;
}

.about-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-section p {
  text-align: center;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Rajdhani', sans-serif;
}

footer {
  background-color: #d6ccc2;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  flex-basis: 50%;
}

.footer-left p {
  font-size: 14px;
  color: #666;
  padding-left: 20px;
}

.footer-right {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.footer-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-right h3 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.footer-right li {
  margin-bottom: 5px;
}

.footer-right a {
  font-size: 14px;
  color: #666;
  text-decoration: none;
}

.footer-right a:hover {
  color: #333;
}

.line-footer {
  margin: 5px 0 0 0;
}